.conteiner {
  margin: 0 auto;
  width: 800px;
}

li {
  list-style-type: none;
  display: inline-block;
}

ul {
  margin: 6px;
  padding: 0;
}

.button {
  margin: 10px 30px;
  max-width: 100%;
  display: flex;
  justify-content: flex-end;
}

.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 566px;
}

.name-url {
  display: inline-block;
  text-align: left;
  margin: 10px 50px 0 0;
}

a {
  display: inline;
  text-align: right;
  padding: 0 0;
}

.delete {
  width: 150px;
  height: 20px;
  margin: 0 0 0 50px;
}
